<p>
Invitations are unlimited, but persons you invite will be associated with your
account in the <a href="/u">user tree</a> and you may be responsible for them
if they cause problems.  Please use your discretion when inviting persons you
don't personally know. The invitation link is usable only once.
</p>

<%= form_with url: invitations_path, method: :post, local: true do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= f.hidden_field :return_home, value: 1 %>
  <% end %>

  <div class="boxline">
    <p></p>
    <%= f.submit "Get Invitation link" %>
  </div>
<% end %>

