li .byline a.story_has_suggestions {
	color: #bd6060;
}

a.tag_announce, a.tag_ask, a.tag_show, a.tag_interview {
	background-color: #f9ddde;
	border-color: #f0b2b8;
}

span.hat_openbsd_developer span.crown {
	font-family: comic sans ms, comic sans, comic neue, sans-serif;
	font-size: 7pt;
}

span.hat_sysop {
	border-color: #bbb2b2;
}
span.hat_sysop span.crown {
	background-color: #ddc7c7;
}

#l_holder {
	position: relative;
}

.comment_text img {
  max-width: 100%;
}

.comment_image {
  float: right;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.comment_image:hover button {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
}

.comment_image input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.story_metadata {
  color: #c0c0c0;
  font-size: 11px;
}

@media
only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
	#l_holder {
		background-size: 16px;
		background-position: 1px 1px;
	}
}
