<div class="box wide">
  <h1>About</h1>

  <div class="story_text">
  <p>Coming soon.</p>
  <p>You can read the technical/usage information <a href="https://lobste.rs/about">here</a>.</p>
  </div>
</div>
